* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(bg.webp);
    background-size: cover;
    color: black;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 67vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    padding: 30px;
    background: rgba(255, 255, 255, 0.8); /* Transparent white background */
    height: 353px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px; /* Add rounded corners to the container */
}

.input-box {
    border-bottom: 2px solid purple;
    padding-bottom: 25px;
}

#text {
    padding: 18px;
    width: 350px;
    height: 11px;
    font-size: 18px;
    border: none;
    border: 2px solid grey;
    outline: none;
    padding-left: 50px;
}

.bar-icon {
    position: absolute;
    margin-left: 12px;
    position: absolute;
    margin-top: 12px;
}

.check-box {
    height: 26px;
    margin-right: 15px;
    width: 16px;
}

.item {
    display: flex;
    margin-top: 10px;
    padding: 4px;
    font-size: 20px;
    position: relative;
}

.to-dos {
    height: calc(100% - 55px);
    overflow-y: scroll;
    max-width: 419px;
}

h3 {
    font-weight: 100;
}

.done {
    text-decoration: line-through;
}

.to-dos::-webkit-scrollbar {
    width: 8px;
}

.to-dos::-webkit-scrollbar-thumb {
    background-color: purple; /* Scrollbar thumb color */
    border-radius: 4px; /* Rounded corners for the thumb */
}

.to-dos::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1); /* Scrollbar track color */
}

.options {
    position: absolute;
    right: 15px;
    top: 16px;
    font-size: 16px;
    cursor: pointer;
}

.check-box {
    cursor: pointer;
}
